.counter-wrapper{
    display: flex;
    border: 3px solid rgb(190, 190, 190);
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 8%;
}

.counter-button-minus-active{
    border: none;
    background: transparent;
    height: 100%;
    color: red;
    cursor: pointer;
    font-size: larger;
}

.counter-button-add-active{
border: none;
background: transparent;
height: 100%;
color: red;
cursor: pointer;
font-size: larger;
}

.counter-button-minus-desactive{
    border: none;
    background: transparent;
    height: 100%;

    color: rgb(190, 190, 190);
    cursor: pointer;
    font-size: larger;
}